<div class="row">
	<div class="col m2 s1"></div>  
	<div class="col m8 s10 card"> 
		<br>
		<div class="card-title">Catálogo</div>
		<div class="card-body">
			<% prng = Random.new%>	
			
			<b>Tienda de pesca 1 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/1.jpeg", alt: 'image', class: 'catalog-image')%> <br>	
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 1 en catalogo.</p>	
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 2 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/2.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 2 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 3 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/3.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 3 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 4 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/4.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 4 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 5 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/5.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 5 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 6 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/6.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 6 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 7 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/7.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 7 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 8 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/8.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 8 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 9 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/9.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 9 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 10 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/10.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 10 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 11 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/11.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 11 en catalogo.</p>			
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

			<b>Tienda de pesca 12 </b>
			<p><%= Time.now %></p>
			<p>$ <%= prng.rand(300000) %></p>
			<div class="row">
				<div class="col m6 s6">
					<%= image_tag("product/12.jpeg", alt: 'image', class: 'catalog-image')%> <br>		
				</div>
				<div class="col m6 s6">
					<p>Descripción de producto 12 en catalogo.</p>	
				</div>
			</div>
			<div class="btn green">Consultar</div>						
			<hr>

		</div>
	</div>
	<br>
	<div class="col m2 s1"></div> 
</div>
