<div class="row">
	<div class="col m2 s1"></div>  
	<div class="col m8 s10 card"> 
		<br>
		<div class="card-title">Noticias</div>
		<div class="card-body">
	<!--
	{<%= image_tag("news/$.png", alt: 'image')%>${newline}}*20
	-->
	<br>	
			<b> OPERATIVOS DE PESCA RECREATIVA EN LAGO RUPANCO Y RÍO MAULLÍN </b><br>
			Miércoles, 14 de Septiembre de 2016 11:40 <br>

			<p>
			Operativos de Pesca Recreativa en Lago Rupanco y Río Maullín	
			</p>
			<p>
			Durante los días jueves 08 y viernes 09 de septiembre se realizaron dos operativos interinstitucionales de fiscalización de Pesca Recreativa coordinados por la Unidad de Aguas Continentales de la Dirección Regional del Servicio Nacional de Pesca y Acuicultura de Los Lagos.

			El primero se realizó en el lago Rupanco, en la provincia de Osorno, con el apoyo de personal de la Capitanía de Puerto de la ciudad de Puerto Varas, Armada de Chile. Durante esta actividad se utilizó un bote con motor fuera de borda para recorrer parte del lago con lo que se logró descubrir alrededor de 150 kg de salmones eviscerados, aproximadamente 300 m de redes y sorprender a una persona que quedó citada a tribunales por faltas a la Ley de Pesca Recreativa y a la Ley General de Pesca y Acuicultura.
			</p>
			<%= image_tag("news/1.png", alt: 'image')%> <br>						
			<p>
			Operativos de Pesca Recreativa en Lago Rupanco y Río Maullín	
			</p>
			<p>
			El segundo se realizó en el río Maullín, en la desembocadura del lago Llanquihue. En esta actividad de fiscalización participaron funcionarios de Fiscalización Pesquera del Sernapesca y dotación de la Capitanía de Puerto de Puerto Varas. Durante este operativo tres personas quedaron citadas al Juzgado Civil de Puerto Varas por infracción a la Ley General de Pesca y Acuicultura, y se incautaron alrededor de 450 m de redes y 300 kg de pescado.
			</p>
			<%= image_tag("news/2.png", alt: 'image')%> <br>						
			 
			<b>
			FISCALIZACIÓN PESCA RECREATIVA EN EL RÍO JEINIMENI, LOCALIDAD DE CHILE CHICO, REGIÓN DE AYSÉN	
			</b><br>
			<p>
			Fiscalización Pesca Recreativa en el Río Jeinimeni, localidad de Chile Chico, Región de Aysén

			Producto de las constantes actividades de fiscalización en materia de pesca recreativa realizada por el Servicio Nacional de Pesca y Acuicultura, en el mes de mayo se sorprendió a tres individuos realizando actividades de pesca en forma ilegal, utilizando artes de pesca prohibidos en el Río Jeinimeni, cercano a la Reserva Nacional del mismo nombre. Por normativa se encuentra estrictamente prohibido realizar actividades de pesca recreativa con redes en ríos y lagos de agua dulce en la región y en el país. Además de esto, los individuos se encontraban pescando en temporada de veda de salmonideos, la temporada de pesca finalizó el primer domingo de mayo.	
			</p>
			<%= image_tag("news/3.png", alt: 'image')%> <br>

			<b>
			TERMINÓ LA TERMPORADA DE PESCA DE ESPECIES SALMONIDEAS Y SE INICIA LA VEDA
				
			</b>						
			<p>
			Terminó la termporada de pesca de especies salmonideas y se inicia la veda

			La temporada de pesca de los salmonideos se inició el segundo viernes de noviembre de 2015 y terminó el domingo 1 de mayo de 2016, iniciándose en todo el país el periodo de veda de estas especies desde 2 de mayo hasta el segundo jueves del mes de noviembre de 2016. El Servicio Nacional de Pesca y Acuicultura hace un llamado a respetar el periodo de veda de estas especies, medida que busca conservar los periodos de desove de los salmonideos tan importantes para la pesca recreativa, que sustentan una importante actividad de turismo de intereses especiales en distintas localidades del país. Esta medida es general para el país, salvo pocas excepciones para cursos o cuerpos de agua, donde sí se puede pescar o bien su temporada de pesca presenta variaciones y por ende también la veda.
				
			<b>FISCALIZACIÓN EN BAHÍA ENCANTO DEL LAGO RUPANCO PERMITIÓ DETECTAR PESCA ILEGAL Y LA INCAUTACIÓN DE MÁS DE 200 K DE ESPECIES</b>
			<p>
				
			</p>
			<%= image_tag("news/4.png", alt: 'image')%> <br>						
			<b>SERNAPESCA DE LA REGION DE LA ARAUCANIA Y LA FISCALIZACIÓN DE LA PESCA ILEGAL DEL SALMÓN</b>
			<p>
			
			Fiscalización en Bahía Encanto del Lago Rupanco permitió detectar pesca ilegal y la incautación de más de 200 K de especies

			En un trabajo conjunto de fiscalización entre la Capitanía de Puerto de Puerto Varas y SERNAPESCA de la Región de Los Lagos sorprendieron dos embarcaciones que habían realizado pesca ilegal, capturando más de 200 Kilos de diferentes especies con una red de enmalle en el sector Bahía El Encanto en el Lago Rupanco.

			Se incautaron 155 Kilos de salmón chinook, 64 K de salmón salar y 11,5 K de pejerreyes y perca trucha, además de una red de enmalle de 150 metros.	
			</p>
			<%= image_tag("news/5.png", alt: 'image')%> <br>						
			<b>FISCALIZACIÓN DE PESCA RECREATIVA Y CONTROL DIDYMO EN PROVINCIA DE PALENA</b>
			<p>
			
			Sernapesca de la Region de La Araucania y la fiscalización de la pesca ilegal del salmón

			El Servicio Nacional de Pesca y Acuicultura de la IX Región de la Araucanía se encuentra trabajando con Instituciones como Policía de Investigaciones para abordar la fiscalización de la pesca furtiva del Salmón Chinook y la venta de esta misma especie en restoranes, locales comerciales de distribución y transporte de estos recursos.

			Durante este año en curso, Sernapesca IX Región de la Araucanía ha logrado sorprender a pescadores furtivos realizando esta actividad ilegal y ha logrado cursar hasta la fecha (abril de 2016) un total de 23 citaciones a Tribunales, incautando mas de 1.000 kilos de Salmon Chinook, 4 redes prohibidas para la captura de salmónidos y 31 aparejos de pesca no autorizados por reglamento.	
			</p>
			<%= image_tag("news/6.png", alt: 'image')%> <br>						
			<b>LA DIRECCIÓN ZONAL DE PESCA IX-XIV REGIÓN ESTABLECIÓ MEDIDAS DE ADMINISTRACIÓN PARA EL RÍO BUENO, REGIÓN DE LOS RÍOS</b>
			<p>
			Fiscalización de Pesca Recreativa y control Didymo en provincia de Palena

			Desde día 2 al 4 de Marzo del presente año se realizaron actividades de fiscalización en la provincia de Palena por parte de funcionarios del Servicio Nacional de Pesca y Acuicultura, de la Unidad de Control Didymo y Pesca Recreativa de la X Región. En esta acción se procedió a realizar una fiscalización en las riberas de los principales cursos y cuerpos de agua del sector de Chaitén a Futaleufú, verificando el cumplimiento de las medidas de administración de especies ícticas de importancia en la cuenca del Rio Yelcho. En esta oportunidad se visitaron los ríos Yelcho, Futaleufú, Azul, Espolón y los lagos Yelcho y Espolón.

			Como resultado de dicha actividad se detectaron pescadores de origen extranjero que realizaban pesca sin la Licencia de Pesca Recreativa. Todos quedaron Citados a comparecer al Juzgado de Policía Local de Chaitén.

			Cabe señalar que en esta oportunidad la actividad se concentra con más presencia de pescadores en la desembocadura del Lago Yelcho e inicio del Rio Yelcho.

			Junto con la actividad anterior, se realizaron reuniones con el personal de Sernapesca de control Didymo localizados en Chaitén y en paso fronterizo Futaleufú. También se verificaron unidades de desinfección instaladas en puntos estratégicos de visitas de Pescadores de Pesca Recreativa.	
			</p>
			<%= image_tag("news/7.png", alt: 'image')%> <br>						
			<b>LA DIRECCIÓN ZONAL DE PESCA IX-XIV REGIÓN ESTABLECIÓ MEDIDAS DE ADMINISTRACIÓN PARA EL RÍO CALCURRUPE, REGIÓN DE LOS RÍOS</b>
			<p>
			La Dirección Zonal de Pesca IX-XIV Región estableció medidas de administración para el Río Bueno, Región de Los Ríos

			La Resolución N° 4 del 11 de febrero de 2016, de la Dirección Zonal de Pesca y Acuicultura de la IX-XIV región estableció que se autoriza la captura de un solo ejemplar, tanto de trucha café (Salmo trutta fario) como de trucha arcoíris (Oncorhynchus mykiss) por pescador y jornada de pesca, a contar de la fecha de publicación de la resolución y hasta el primer domingo de mayo de 2020, en toda la extensión del río Bueno, desde su nacimiento como desagüe natural del lago Ranco y hasta su desembocadura en el Océano Pacífico. Las capturas se podrán realizar sólo utilizando señuelos artificiales con anzuelos sin rebarba.

			Toda captura que supere la cuota diaria indicada así como la captura de especies nativas que se capturen en el río Bueno debe ser devuelta inmediatamente, vivos, en buenas condiciones, al mismo lugar de extracción. Con excepción de salmón chinook (Oncorhynchus tshawytscha), que se permite capturar un máximo de tres ejemplares sin límite de peso.	
			</p>
			<%= image_tag("news/8.png", alt: 'image')%> <br>						
			<b>SERNAPESCA Y CARABINEROS FISCALIZAN EL RÍO PILMAIQUÉN, X REGIÓN</b>
			<p>
			La Dirección Zonal de Pesca IX-XIV Región estableció medidas de administración para el Río Calcurrupe, Región de Los Ríos

			La Dirección Zonal de Pesca IX-XIV Región estableció medidas de administración para el Río Calcurrupe, Región de Los Ríos

			La Resolución N° 1 del 12 de enero de 2016, de la Dirección Zonal de Pesca y Acuicultura de la IX-XIV región estableció que se autoriza la actividad de pesca recreativa de las especies trucha café o fario (Salmo trutta fario) y trucha arcoíris (Oncorhynchus mykiss) que se realicen en el río Calcurrupe y sus afluentes, incluyendo su nacimiento en el lago Maihue y su desembocadura en el lago Ranco, XIV Región de Los Ríos, para el periodo comprendido entre los años 2016 y 2026, mediante la modalidad de pesca con devolución obligatoria de todos los ejemplares capturados y durante toda la temporada de pesca, usando sistemas de pesca con señuelo simple y anzuelos sin rebarba. Con la excepción de la especie salmón chinook que se podrá capturar en un máximo de tres ejemplares sin límite de peso.	
			</p>
			<%= image_tag("news/9.png", alt: 'image')%> <br>						
			<b>SE RETIRARON NASAS EN RÍO ITATA REGIÓN DEL BÍO BÍO</b>
			<p>
			SERNAPESCA y Carabineros fiscalizan el Río Pilmaiquén, X Región

			Intensas actividades de fiscalización se realizaron en el sector de desembocadura del Río Pilmaiquén al Río Bueno.

			Producto de una coordinación con el Teniente de Carabineros de la localidad de San Pablo, comuna de San Pablo, provincia de Osorno, se realizó una fiscalización en el área indicada por vía fluvial. Esta acción fue fruto de antecedentes que Carabineros recibió sobre campamentos de personas montados en la ribera del río para realizar pesca con redes y que además se denunció en el diario de Osorno días atrás y también por autoridades locales.

			Zarpando el 18 de febrero desde el sector de Trumao tres funcionarios de Carabineros y dos del Servicio Nacional de Pesca y Acuicultura, procedieron a remontar el Río Bueno en busca de la desembocadura del Río Pilmaiquén.

			Después de navegar aproximadamente una hora río arriba, se llegó a la desembocadura y se encontraron campamentos montados en la ribera, con red de enmalle, flotadores, cabos y plomos. El procedimiento ante tribunales lo tomó Carabineros quedando a disposición del tribunal correspondiente los elementos encontrados.	
			</p>
			<%= image_tag("news/10.png", alt: 'image')%> <br>						
			<b>ACTUALIZACIÓN DE PROCEDIMIENTO Y MODELO DE CERTIFICADO PARA EL INGRESO DE MATERIALES Y EQUIPOS DE PESCA A LA ZONA LIBRE DE ENFERMEDADES DE SALMÓNIDOS DECLARADA POR SENASA EN LA REPÚBLICA ARGENTINA</b>
			<p>
			Se retiraron nasas en Río Itata región del Biobío

			En el marco de las labores de fiscalización que efectúa el Servicio Nacional de Pesca y Acuicultura de la Región del Bío Bío, se detectó en el cauce del río Itata, específicamente en el sector ribereño de Nueva Aldea, comuna de Ranquil, una estructura artificial compuesta de redes y estacas que corta el cauce natural del río, sistema conocido como nasa y que son utilizados para la captura de peces que posteriormente son comercializados de manera ilegal, lo cual se ha detectado en reiteradas fiscalizaciones a centros de distribución y consumo de la región.

			Los hechos antes referidos constituyen una vulneración a la normativa vigente, toda vez que según lo prescrito por la ley Nº 20.256 que establece normas sobre pesca recreativa, dichas actividades deberán realizarse exclusivamente con aparejos de pesca de uso personal, prohibiéndose así el uso de redes, espineles, trampas o cualquier otro aparejo, arte, sistema útil o implemento o método de pesca que no se encuentre descrito en el reglamento correspondiente.

			En razón de ello, y a que los hechos referidos causan un impacto negativo tanto en la fauna íctica como del medio ambiente del lugar, el Servicio coordinó con la Municipalidad de Ranquil para que con maquinarias y personal del Servicio, se procediera al retiro de dicha estructura.	
			</p>
			<%= image_tag("news/11.png", alt: 'image')%> <br>						
			<b>SE REALIZÓ PRIMERA FERIA REGIONAL DE PESCA RECREATIVA REGIÓN DE LOS LAGOS PARA FOMENTAR EL DESARROLLO SUSTENTABLE DE LA PESCA RECREATIVA</b>
			<p>
			Actualización de procedimiento y modelo de certificado para el ingreso de materiales y equipos de pesca a la zona libre de enfermedades de salmónidos declarada por SENASA en la República Argentina

			A contar del 1 de diciembre de 2015, los certificados que acompañen el ingreso a la zona libre de enfermedades de salmónidos (mapa) definida por SENASA de la República Argentina, serán emitidos por certificadores de la desinfección autorizados por Sernapesca (ver listado).

			La desinfección se deberá realizar según el protocolo dispuesto por Sernapesca y el documento se deberá emitir conforme el siguiente modelo de certificado.

			Este certificado se deberá portar durante todo el viaje.	
			</p>
			<%= image_tag("news/12.png", alt: 'image')%> <br>						
			<b>SERNAPESCA AUTORIZÓ LA BASES DEL PRIMER CAMPEONATO INTERNACIONAL DE PESCA RECREATIVA CON MOSCA Y DEVOLUCIÓN EN EL LAGO PUYEHUE, X REGIÓN DE LOS LAGOS</b>
			<p>
			Se realizó Primera Feria Regional de Pesca Recreativa Región de Los Lagos para fomentar el desarrollo sustentable de la pesca recreativa

			Con el propósito de fomentar, fortalecer y promocionar la actividad de pesca recreativa en la región de Los Lagos, la Dirección Zonal de Pesca y Acuicultura de la región de Los Lagos, la I. Municipalidad de Puerto Varas y la Asociación de Guías de Pesca con Mosca de Puerto Varas, organizaron la Primera Feria de Pesca Recreativa de la Región de Los Lagos entre los días 27 y 28 de octubre.

			Contó con la participación de distintos servicios públicos y municipios de la región, instituciones académicas, organizaciones de pesca recreativa y operadores turísticos, entre otros. La Feria estuvo abierta a toda la comunidad regional y dispuso de variados stand de promoción, tiendas de pesca, charlas temáticas y talleres y clases de pesca para niños y jóvenes.	
			</p>
			<%= image_tag("news/13.png", alt: 'image')%> <br>						
			<b>SE ESTABLECiÓ VEDA PARA EL RECURSO CORVINA</b>
			<p>
			SERNAPESCA autorizó la bases del Primer Campeonato Internacional de Pesca Recreativa con Mosca y Devolución en el Lago Puyehue, X Región de los Lagos

			SERNAPESCA a través de la Res. N° 3074 del 22 de octubre de 2015 autorizó las bases del Primer Campeonato Internacional de Pesca Recreativa con Mosca y Devolución que se realizará el sábado 14 de noviembre de 2015, a partir de las 8 horas, en el Lago Puyehue, en la ciudad Entre Lagos, en la X Región de los Lagos. Las inscripciones se iniciaron el 19 de octubre y se recibirán hasta el 6 de noviembre. Los valores de las inscripciones son $ 5.000 para los participantes nacionales y US$ 10 participantes extranjeros.	
			</p>
			<%= image_tag("news/14.png", alt: 'image')%> <br>						
			<b>SE INICIA TEMPORADA DE PESCA DE CHINOOK EN LOS CUERPOS DE AGUA DULCE DE LA CUENCA DEL RÍO TOLTÉN</b>
			<p>
			Se stableció veda para el recurso corvina

			El Decreto Exento N° 758 de 30 de septiembre de 2015, publicado en el Diario Oficial del día 5 de octubre, establece veda para el recurso corvina (Cilus gilbert) entre el 1 de octubre y el 30 de noviembre de cada año, ambas fechas inclusive y rige desde el límite norte de la I Región de Arica y Parinacota hasta el límite sur de la XII Región de Magallanes. Esta medida es aplicable a la actividad de pesca recreativa.

			Este Decreto modificó Decreto Exento N° 599 de 2015 que había establecido una veda entre 1 de noviembre al 30 de enero de del año siguiente.	
			</p>
			<%= image_tag("news/15.png", alt: 'image')%> <br>						
			<b>FISCALIZACION PESCA RECREATIVA LAGO RUPANCO</b>
			<p>
			
			Se inicia temporada de pesca de Chinook en los cuerpos de agua dulce de la Cuenca del Río Toltén

			El Consejo Zonal de Pesca de la IX-XIV Regiones autorizó la pesca del salmón Rey o Chinook en los cuerpos de agua de la cuenca del Río Toltén desde 1 de septiembre a 28 o 29 de febrero del año siguiente, según corresponda, en que se podrá capturar un ejemplar de salmón Chinook por pescador como límite diario de captura y sin límite de peso, de las temporadas de pesca de los años 2015, 2016, 2017 y 2018. No se puede pescar los meses de marzo, abril, mayo de los años 2016, 2017 y 2018.

			Se prohíbe la captura de todo salmónido en los meses de marzo, abril y mayo de los años 2016, 2017 y 2018 en el sector comprendido entre el Puente Medina, ubicado en el río Allipén y la zona este de la cuenca.	
			</p>
			<%= image_tag("news/16.png", alt: 'image')%> <br>						
			<b>SE DEJÓ SIN EFECTO EL TAMAÑO MÍNIMO DE EXTRACCIÓN DEL RECURSO CORVINA</b>
			<p>
			Fiscalización Pesca Recreativa Lago Rupanco

			El día 20 de Agosto pasado, funcionarios del Servicio Nacional de Pesca y Acuicultura, de los programas de Pesca Recreativa y Didymo en conjunto con personal de la Armada de Chile dotación Capitanía de Puerto de Puerto Varas, se procedió a realizar una fiscalización embarcada al lago Rupanco. Esta acción se desarrolló con dos botes (Sernapesca-Armada), recorriendo la ribera de dicho lago. La Fiscalización efectuada con apoyo aéreo, permitió encontrar redes de pared caladas en dicho cuerpo de agua, procediendo a su levantamiento, junto con las especies enredadas en el arte.

			Cabe indicar que se incautaron un total de 8 redes con un total aproximado de 400 metros de red, situación que se dará cuenta al tribunal correspondiente.	
			</p>
			<%= image_tag("news/17.png", alt: 'image')%> <br>						
			<b>REUNIÓN DE TRABAJO PARA PREPARAR CAMPEONATO DE PESCA RECREATIVA EN EL LAGO RUPANCO</b>
			<p>
			Se dejó sin efecto el tamaño mínimo de extracción del recurso corvina

			Por Resolución Exenta N° 2058 del 4 de agosto de 2015, publicado en el diario Oficial del día 11 de agosto se dejó efecto el numeral 1°, letra b) de la Resolución Exenta N° 1447 de 2010, que había establecido el tamaño mínimo de extracción del recurso corvina (Cilus gilberti) entre el límite norte de la XV y el límite sur de la XII región.	
			</p>
			<%= image_tag("news/18.png", alt: 'image')%> <br>						
			<b>FISCALIZACION PESCA RECREATIVA SECTOR PUENTE RIO MAULLÍN, LLANQUIHUE</b>
			<p>
			Reunión de trabajo para preparar campeonato de pesca recreativa en el Lago Rupanco

			Se efectuó una reunión de trabajo el día 5 de Agosto recién pasado en la Ilustre Municipalidad de Puyehue, con el objetivo de analizar los requisitos que se deben cumplir en la realización de un campeonato de Pesca Recreativa, dado que la Municipalidad tiene interés en promover esta tipo de actividad en el lago Rupanco.	
			</p>
			<%= image_tag("news/19.png", alt: 'image')%> <br>						
			<b>SERNAPESCA Y UNIVERSIDAD DE LOS LAGOS REALIZARON EXPOSICIÓN DE TEMAS DE PESCA RECREATIVA A PERSONAL DE CARABINEROS TENENCIA ENSENADA</b>
			<p>
			Fiscalización Pesca Recreativa sector Puente Río Maullín, Llanquihue.

			El día 30 de Julio del presente año, funcionario del Servicio Nacional de Pesca y Acuicultura, de Pesca Recreativa, en conjunto con personal de Carabineros de Chile de dotación Llanquihue, se realizó una fiscalización en el sector denominado puente río Maullín, de la ciudad de Llanquihue. Durante la fiscalización se encontró una embarcación que venia llegando del lago Llanquihue con especies salmonideas en su interior, junto con las especies también existía una red con salmones atrapados por este arte de pesca.	
			</p>
			<%= image_tag("news/20.png", alt: 'image')%> <br>
			<b>PRORROGAN LAS ACTIVIDADES DE PESCA RECREATIVA EN EL LAGO LLANQUIHUE Y EL RÍO MAULLÍN</b>
			<p>
			SERNAPESCA y Universidad de Los Lagos realizaron exposición de temas de Pesca Recreativa a personal de Carabineros Tenencia Ensenada

			El día 21 de Julio pasado, funcionarios del Servicio Nacional de Pesca y Acuicultura, de Pesca Recreativa y Didymo de la X Región de Los Lagos, Renzo Barraza, Pablo Tapia y Miguel Muñoz, en conjunto con una profesional de la Universidad de Los Lagos María José Paredes, procedieron a realizar una charla de Pesca Recreativa al personal de Carabineros de la Tenencia Ensenada, en dependencia de la misma unidad, junto con lo anterior, también participaron los jefes de las unidades de Carabineros de Puelo, Cochamó, Canutillar y Río Pescado.
			
			Prorrogan las actividades de pesca recreativa en el Lago Llanquihue u el Río Maullí

			La Dirección Zonal de Pesca de la X Región por Resolución Exenta N° 2 del 29 de abril de 2015 resolvió prorrogar la actividad de pesca recreativa sobre especies salmonideas, en el Lago Llanquihue y su efluente el río Maullín, así el periodo de pesca por este año, abarca hasta el primer domingo del mes de junio y sólo se permite la pesca con devolución.	
			</p>
		</div>
	</div>
	<br>
	<div class="col m2 s1"></div> 
</div>
