<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PescApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="blue-grey lighten-2">
		<nav>
			<div class="nav-wrapper">
			  <a href="#"><%= link_to root_path do %><%= image_tag('logos/logo2.png', alt: 'Logo PescApp', class: 'logo-pescapp')%><% end %></a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
			  
				<li><a href="/dashboard/catalog"><i class="fa fa-search"></i> Catálogo</a></li>
				<li><a href="/dashboard/info"><i class="fa fa-book"></i> Información</a></li>
				<li><a href="/dashboard/notices"><i class="fa fa-globe"></i> Noticias</a></li>
				<li><a href="/dashboard/weather"><i class="fa fa-cloud"></i> Clima</a></li>
				<li><a href="/dashboard/configuration"><i class="fa fa-wrench"></i> Configuración</a></li>
			
			  	<li class="dropdown">
					<a class='dropdown-button btn' href='#' data-activates='dropdown1'><%= current_user.email %> <span class="caret"></span></a>
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="/dashboard/profile"><i class="fa fa-user"></i> Mi Cuenta </a></li>
						<li><a href="/dashboard/help"><i class="fa fa-question-circle"></i> Ayuda </a></li>
						<li role="separator" class="divider"></li>
						<li><%= link_to destroy_user_session_path, :method => :delete do %> <i class="fa fa-sign-out"></i> Salir <% end %></li>
					</ul>
				</li>
			  </ul>
        	  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-list"></i></a>
			  <ul class="side-nav" id="mobile-demo">
		        <li><div class="userView">
			      <div class="background">
			        <%= image_tag('logos/back.JPG', alt: 'Back PescApp', class: 'back-image')%>
			      </div>
			      <a href="#"><%= image_tag('logos/user.JPG', alt: 'Back PescApp', class: 'circle')%></a>
			      <a href="/dashboard/profile"><span class="white-text name">John Doe</span></a>
			      <a href="/dashboard/help"><span class="white-text email">jdandturk@gmail.com</span></a>
			    </div></li>
			    <li><a href="/dashboard/profile"><i class="fa fa-user"></i> Mi cuenta </a></li>
				<li role="separator" class="divider"></li>
				<li><a href="/dashboard/catalog"><i class="fa fa-search"></i> Catálogo</a></li>
				<li><a href="/dashboard/info"><i class="fa fa-book"></i> Información</a></li>
				<li><a href="/dashboard/notices"><i class="fa fa-globe"></i> Noticias</a></li>
				<li><a href="/dashboard/weather"><i class="fa fa-cloud"></i> Clima</a></li>
				<li><a href="/dashboard/configuration"><i class="fa fa-wrench"></i> Configuración</a></li>
				<li role="separator" class="divider"></li>
				<li><%= link_to destroy_user_session_path, :method => :delete do %> <i class="fa fa-sign-out"></i> Salir <% end %></li>
		      </ul>
			</div>
		</nav>
			<section id="body" class="indigo lighten-4">
				<br>
				<%= yield %>
			</section>
			<footer class="lighten-2 white-text">
				<div class="container">
				<div class="row">
					<div class="col-sm-6">PescApp</div>
					<div class="col-sm-6 text-right">V 1.0</div>
				</div>
				</div>
			</footer>
		</div>
	<script>
		
    $(".button-collapse").sideNav();
         $('.dropdown-button').dropdown();
	</script>
</body>
</html>
