<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PescApp</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
		<nav>
			<div class="nav-wrapper">
			  <a href="#"><%= link_to root_path do %><%= image_tag('logos/logo2.png', alt: 'Logo PescApp', class: 'logo-pescapp')%><% end %></a>
			  <ul id="nav-mobile" class="right hide-on-med-and-down">
			  	<li class="dropdown">
					<a class='dropdown-button btn' href='#' data-activates='dropdown1'><%= current_user.email %> <span class="caret"></span></a>
					<ul id='dropdown1' class='dropdown-content'>
						<li><a href="#"><i class="fa fa-user"></i> My account</a></li>
						<li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
						<li role="separator" class="divider"></li>
						<li><%= link_to destroy_user_session_path, :method => :delete do %> <i class="fa fa-sign-out"></i> Sign out<% end %></li>
					</ul>
				</li>
			  </ul>
	        	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-list"></i></a>
			  <ul class="side-nav" id="mobile-demo">
		        <li><div class="userView">
			      <div class="background">
			        <%= image_tag('logos/back.JPG', alt: 'Back PescApp', class: 'back-image')%>
			      </div>
			      <a href="#"><%= image_tag('logos/user.JPG', alt: 'Back PescApp', class: 'circle')%></a>
			      <a href="#"><span class="white-text name">John Doe</span></a>
			      <a href="#"><span class="white-text email">jdandturk@gmail.com</span></a>
			    </div></li>
			    <li><a href="#"><i class="fa fa-user"></i> My account</a></li>
				<li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
				<li role="separator" class="divider"></li>
				<li><%= link_to destroy_user_session_path, :method => :delete do %> <i class="fa fa-sign-out"></i> Sign out<% end %></li>
		      </ul>
			</div>
		</nav>
			</header>
			<section id="body" class="container">
				<div class="breadcrumb">
					<%= render_breadcrumbs :tag => :li, :separator => "" %>
				</div>
				<%= yield %>
			</section>
			<footer>
				<div class="container">
				<div class="row">
					<div class="col-sm-6">This is a text</div>
					<div class="col-sm-6 text-right">0.0.1</div>
				</div>
				</div>
			</footer>
		</div>
	<script>
		
    $(".button-collapse").sideNav();
         $('.dropdown-button').dropdown();
	</script>
</body>
</html>
